<script lang="ts"> //Fin:Problem1
export default {
  data() {
    return {
      currentImage: 1,
      image1: "feeling_imgs\\angry.png",
      image2: "feeling_imgs\\cute.png",
      image3: "feeling_imgs\\excited.png",
      image4: "feeling_imgs\\pain.png",
      image5: "feeling_imgs\\shocked.png",
      image6: "feeling_imgs\\smile.png",
      ButtonStatus: "Angry",
    };
  },
  methods: {
    changeImage(num: number) {
      this.currentImage = num;
      switch (num) {
        case 1:
          this.ButtonStatus = "Angry";
          break;
        case 2:
          this.ButtonStatus = "Cute";
          break;
        case 3:
          this.ButtonStatus = "Excited";
          break;
        case 4:
          this.ButtonStatus = "Pain";
          break;
        case 5:
          this.ButtonStatus = "Shocked";
          break;
        case 6:
          this.ButtonStatus = "Smile";
          break;
      }
    },
  },
};
</script>
<style scoped>

.mbutton:Focus {
  background-color: yellow;
}
</style>
<template>
  <v-container
    >
    <v-row
      ><v-col>
<div class="float-left">
      <img v-if="currentImage === 1" :src="image1" />
      <img v-if="currentImage === 2" :src="image2" />
      <img v-if="currentImage === 3" :src="image3" />
      <img v-if="currentImage === 4" :src="image4" />
      <img v-if="currentImage === 5" :src="image5" />
      <img v-if="currentImage === 6" :src="image6" />
    </div>
    </v-col>
    <v-col>
      <h1 class="text-center">{{ ButtonStatus }}</h1>
        <div class="mx-3 mt-2">
          <v-btn class="mbutton" @click="changeImage(1)" block>ANGRY</v-btn>
        </div>
        <div class="mx-3 mt-2">

          <v-btn class="mbutton" @click="changeImage(2)" block>CUTE</v-btn>
        </div>
        <div class="mx-3 mt-2">
          <v-btn class="mbutton" @click="changeImage(3)" block>EXCITED</v-btn>
        </div>
        <div class="mx-3 mt-2">
          <v-btn class="mbutton" @click="changeImage(4)" block>PAIN</v-btn>
        </div>
        <div class="mx-3 mt-2">
          <v-btn class="mbutton" @click="changeImage(5)" block>SHOCKED</v-btn>
        </div>
        <div class="mx-3 mt-2">
          <v-btn class="mbutton" @click="changeImage(6)" block>SMILE</v-btn>
        </div>
      </v-col>
    </v-row>
    
  
  </v-container>
  
</template>

