

<script lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";

export default {
  components: {
    FirstComponent,
    SecondComponent,
  },
  data() {
    return {
      num: 0,
      num2: 0,
    };
  },
  methods: {
    add() {
      this.num += 1;
      this.num2 += 2;
    },
    decrease() {
      if (this.num > 0) {
        this.num2 -= 2;
        this.num -= 1;
      } else if (this.num == 0) {
        this.num2 = 0;
        this.num = 0;
      }
    },
  },
};
</script>
<template>
  <table>
    <v-row
      ><v-col class="customrow pdleft"
        ><p>First Component</p>
        <FirstComponent :num="num"
      /></v-col>
      <v-col class="customrow">
        <p>Second Component</p>
        <SecondComponent :num2="num2" /> </v-col
    ></v-row>
    <v-row class="pdleft">
      <v-col> <v-btn @click="add">Increment</v-btn> </v-col>
      <v-col> <v-btn @click="decrease">Decrease</v-btn> </v-col>
    </v-row>
  </table>
</template>
<style>
.customrow {
  width: 900px;
}
.pdleft {
  margin-left: 300px;
}
</style>

